@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.search{
    border:1px solid transparent;
}
.search:focus{
    border-color: var(--primary);
    outline: none;
}